.book-filter {
    background-color: var(--clr3bg);
    padding-block: 1em;
}

.book-filter > h2 {
    margin-top: 0;
}

.book-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: .5em;
}

.book-filter .book-filter-btn {
    margin-inline: 0;
    width: fit-content;
    justify-self: end;
}
.add-book-btn{
    width: fit-content;
    justify-self: start;
}