:root {
    --clr1: rgb(32, 87, 129);
    --clr2: rgb(120, 99, 110);

    --clr1bg: rgb(79, 149, 157);
    --clr1bg-light: rgb(205, 221, 200);
    --clr2bg: rgb(246, 248, 213);
    --clr2bg-light: rgb(253, 236, 246);
    --clr3bg: rgb(152, 210, 192);

    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
}