:root {
    --clr1: rgb(167,83,45);
    --clr2: rgb(89,32,15);

    --clr1bg: rgb(143,35,35);
    --clr1bg-light: rgb(223, 233, 220);
    --clr2bg: rgb(188,117,53);
    --clr2bg-light: rgb(253, 236, 246);

    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);

    --clr1txt: rgb(204, 157, 58);
}